*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    /* need height for grid to work */
    height: 100vh;
    display: grid;
    /* per pixel per box*/
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 2fr; */
   /* 0 0 0 0 value :rows first b4 columns */
    grid-template: 10% 10% auto 5% / 1fr 1fr 1fr;

    row-gap: 20px;
    column-gap: 20px;

    grid-template-areas:  
    "header header header"
    "content sign-up feature-1"
    " content feature-2 feature-3"
   ;
    /* use dot to put empty container */

    /* justify-items: start; */
    /* justify-items: center;
    align-items: center; */
    /* place-items: stretch center; */
}
 .grid-item{
     /* height: auto;
     width: 100px; */
    background-color: darkcyan;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    border: 1px solid white;
}
/*
.item-1{
    grid-column: span 3;
}
.item-2{
    grid-row: span 2;
}
.item-7{
    grid-column: span 3;
} */

.item-1{
    grid-area: header;
    background-color: rgb(6, 146, 201);
}
.item-2{
    grid-area: content;
    background-color: silver;
}
.item-3{
    grid-area: sign-up;
    background-color: skyblue;
}
.item-4{
    grid-area: feature-1;
    background-color: orange;
}
.item-5{
    grid-area: feature-2;
    background-color: maroon;
}
.item-6{
    grid-area: feature-3;
    background-color: violet;
}

nav a{
    padding: 10px;
}

nav{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100%; 
}
/* phone */
@media screen and (max-width: 420px) and (min-width: 320px) {
    .grid-container{
        grid-template: auto / 1fr;
        gap: 1px;
        grid-template-areas:
        "header"
        "content"
        "content"
        "content"
        "sign-up"
        "feature-1"
        "feature-2"
        "feature-3"
    }
}
/* tablet */
@media screen and  (max-width: 768px) and (min-width: 426px) {
    .grid-container{
       
        grid-template: auto / 1fr 1fr;
        gap: 1px;
        grid-template-areas:
        "header header"
        "content content"
        "content content"
        "content content"
        "sign-up feature-1"
        " feature-2 feature-3"
        ;
    }
}
/* desktop */

@media screen and (max-width: 1440px) and (min-width: 900px) {
    .grid-container{
        grid-template: auto / 1fr 1fr 1fr;
        gap: 1px;
        grid-template-areas:
        "header header header"
        "content content content"
        "content content content"
        "content content content"
        "sign-up sign-up sign-up"
        "feature-1 feature-2 feature-3";
    }
} 