body {
    width: 500px;
    height: auto;
    background-color: black;
}

#img {
    max-width: 500px;
    margin: 0 auto;
}

.top {
    width: 100px;
    height: 100px;
    display: flex;
    color: white;
    margin-left: 40%;
    text-align: center;
}

.top img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.img2 {
    float: left;
}

.img2>div:first-child {
    margin-top: 65px;
    margin-right: 5px;
}

.img2>div:last-child {
    flex-grow: 1;
}

.img2>div:first-child>img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.time {
    color: white;
    margin-left: 40%;
}

.box {
    max-width: 75%;
    padding: 10px;
    margin: 2px 0;
    display: flex;
}

.box:first-child>.boxbox {
    border-top-left-radius: 20px;
}

.box:last-child>.boxbox {
    border-bottom-left-radius: 20px;
}

.boxbox {
    padding: 10px;
    min-height: 20px;
    color: white;
    background-color: dimgray;
    border-radius: 20px;
}

.boxblue {
    float: right;
    padding: 10px;
    color: white;
    background-color: deepskyblue;
    border: 10px;
    border-radius: 20px;
    margin: 5px;
    margin-left: 50%;
}

.boxtext {
    float: right;
    padding: 10px;
    color: white;
    background-color: dimgray;
    border: 10px;
    border-radius: 20px 20px 20px 20px;
    margin: 5px;
    margin-right: 30%;
}