p {
    height: 100vh;
    padding-top: 120px;
}

#about {
    height: 100vh;
    padding-top: 120px;
}

#experience {
    height: 100vh;
    padding-top: 120px;
}

#education {
    height: 100vh;
    padding-top: 120px;
}

#skills {
    height: 100vh;
    padding-top: 120px;
}

#interests {
    height: 100vh;
    padding-top: 120px;
}

#awards {
    height: 100vh;
    padding-top: 120px;
}